# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/
.spyderproject
.spyproject

# Temporary & Logs
*.log
*.sqlite

# Secrets / Keys
secrets.*
credentials.*
*.pem
*.key
*.jks
*.p12
*.pfx
id_rsa*
*.pub
